
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Roboto", serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* In your global CSS or a scoped CSS file */
.ant-input::placeholder {
  color: #888888; /* Your desired placeholder color */
}
:where(.css-dev-only-do-not-override-142vneq).ant-input-affix-wrapper .anticon.ant-input-password-icon {
  color: rgb(255 255 255 / 45%);
  cursor: pointer;
  transition: all 0.3s;
}

/* Add this to your global CSS file or Tailwind layer */
.custom-table .ant-table {
  background-color: #000; /* Table background black */
}

.custom-table .ant-table-thead > tr > th {
  background-color: #000; /* Header background black */
  color: #fff; /* Header text white */
  border: none;
}

.custom-table .ant-table-tbody > tr > td {
  background-color: #000; /* Row background black */
  color: #fff; /* Row text white */
  border: none;
}

.custom-table .ant-table-tbody > tr:hover > td {
  background-color: #111 !important; /* Slightly lighter black for hover */
}
:where(.css-dev-only-do-not-override-142vneq).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-142vneq).ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background-color: #DBBC7E;
  padding: 31px 20px;
}
:where(.css-dev-only-do-not-override-142vneq).ant-menu-dark .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-142vneq).ant-menu-dark>.ant-menu .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-142vneq).ant-menu-dark .ant-menu-item-selected a:hover, :where(.css-dev-only-do-not-override-142vneq).ant-menu-dark>.ant-menu .ant-menu-item-selected a:hover {
  /* color: #000000; */
  color:white;
  font-size: 16px;
  font-weight: bold;
}

.custom-select {
  background-color: #00000066; /* Your desired background color */
  border-radius: 8px;        /* Optional: Rounded corners */
  height: 44px;              /* Optional: Adjust height */
}
.custom-select .ant-select-selector,
.custom-select .ant-select-dropdown,
.custom-select .ant-select-item {
  background-color: transparent !important;
  color: #ffffffcc !important;
}
